[submodule "GeneratedApp/Alamofire"]
	path = GeneratedApp/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "AppChef/Alamofire"]
	path = AppChef/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
